<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>

		<!-- 打印查询语句 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />

		<!-- 控制全局缓存（二级缓存）-->
		<setting name="cacheEnabled" value="true"/>

		<!-- 延迟加载的全局开关。当开启时，所有关联对象都会延迟加载。默认 false  -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 当开启时，任何方法的调用都会加载该对象的所有属性。默认 false-->
		<setting name="aggressiveLazyLoading" value="false"/>
		<!--  Mybatis 创建具有延迟加载能力的对象所用到的代理工具，默认JAVASSIST -->
		<!--<setting name="proxyFactory" value="CGLIB" />-->

		<setting name="useGeneratedKeys" value="false" />
	</settings>

	<!-- 这里配置的话是全局的，会覆盖已经存在的处理
	<typeHandlers>
		<package name="com.mybatis.simple.type"/>  自动发现功能
		<typeHandler handler="com.mybatis.simple.type.MyStringTypeHandler"/> 还有jdbcType javaType可以配置
	</typeHandlers>
	-->

	<objectFactory type="com.mybatis.simple.objectfactory.MyObjectFactory">
	</objectFactory>

	<plugins>

		<plugin interceptor="com.mybatis.simple.plugins.MyPlugin">
			<property name="propertyOne" value="1" />
			<property name="propertyTwo" value="2" />
		</plugin>

		<!--pageHelper 分页插件的注册 -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 4.0.0以后版本可以不设置该参数 ,可以自动识别
            <property name="dialect" value="mysql"/>  -->
			<!-- 该参数默认为false -->
			<!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
			<!-- 和startPage中的pageNum效果一样-->
			<property name="offsetAsPageNum" value="true"/>
			<!-- 该参数默认为false -->
			<!-- 设置为true时，使用RowBounds分页会进行count查询 -->
			<property name="rowBoundsWithCount" value="true"/>
			<!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->
			<!-- （相当于没有执行分页查询，但是返回结果仍然是Page类型）-->
			<property name="pageSizeZero" value="true"/>
			<!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用 -->
			<!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->
			<!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
			<property name="reasonable" value="true"/>
			<!-- 3.5.0版本可用 - 为了支持startPage(Object params)方法 -->
			<!-- 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 -->
			<!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,orderBy,不配置映射的用默认值 -->
			<!-- 不理解该含义的前提下，不要随便复制该配置 -->
			<property name="params" value="pageNum=start;pageSize=limit;"/>
			<!-- 支持通过Mapper接口参数来传递分页参数 -->
			<property name="supportMethodsArguments" value="true"/>
			<!-- always总是返回PageInfo类型,check检查返回类型是否为PageInfo,none返回Page -->
			<property name="returnPageInfo" value="check"/>
		</plugin>

	</plugins>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql:///db_mybatis?useSSL=false" />
				<property name="username" value="admin" />
				<property name="password" value="1234567" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/mybatis/simple/mapper/IUserMapper.xml" />
	</mappers>
	
</configuration>
