<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <property name="APP_NAME" value="springboot-mybatis-template"/>
    <property name="LOG_PATH" value="${user.home}/${APP_NAME}/logs"/>
    <property name="LOG_PATTERN"
              value="%X{TRACE_ID} %d{yyyy-MM-dd HH:mm:ss} [%t] [%level] %c{36}#%M:%L - %m%n"/>

    <!-- 控制台日志打印-一般是本地debug用 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 兜底类日志 -->
    <appender name="BOTTOM_LOGGER_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/bottom.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>utf-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/bottom.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="BOTTOM_LOGGER_APPENDER"/>
    </root>

</configuration>