.settings
*/.settings/*
.project
.classpath
*.class
bin
*/bin/*
.gradle
*/.gradle/*
build
*/build/*
.libs
**/bdbtmp
/.idea/
*.log
*.log.gz

# eclipse
**/target/
**/.project
**/.classpath
**/.settings/
**/.idea/
**/*.iml
**/.springBeans
**/.factorypath
**/bdbtmp
**/logs
.metadata
.recommenders
**/Servers