<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "mybatis-config.dtd">
<!-- <!DOCTYPE configuration SYSTEM "D:\dev\eclipse\learn\xml\origin-xml\src\main\resources\mybatis-config.dtd"> -->

<configuration>

    <environments>
        <environment>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql:///mybatis" />
                <property name="username" value="root" />
                <property name="password" value="121213" />
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
        <mapper resource="EmployeeMapper.xml" />
    </mappers>
    
</configuration>
