<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- BeanPostProcesso -->
    <bean id="myBeanPostProcessor" class="pers.processor.MyBeanPostProcessor" />
    <!-- BeanFactoryPostProcessor -->
    <bean id="myBeanFactoryPostProcessor" class="pers.processor.MyBeanFactoryPostProcessor" />
    <!-- BeanDefinitionRegistryPostProcessor -->
    <bean id="myBeanDefinitionRegistryPostProcessor" class="pers.processor.MyBeanDefinitionRegistryPostProcessor" />

    <bean id="studentBean" class="pers.bean.Student" init-method="initMethod" destroy-method="destroyMethod">
        <property name="age" value="24" />
        <property name="name" value="cck" />
    </bean>

    <!-- FactoryBean -->
    <bean id="user" class="pers.bean.UserFactoryBean" p:userInfo="24,cck" />

    <!-- static factory -->
    <bean id="foodOne" class="pers.bean.FoodStaticFactory" factory-method="getFood">
        <constructor-arg index="0" value="麻薯" />
    </bean>
    <!-- instance factory -->
    <bean id="foodFactory" class="pers.bean.FoodFactory" />
    <bean id="foodTwo" factory-bean="foodFactory" factory-method="getFood" scope="prototype">
        <constructor-arg index="0" value="甜甜圈" />
    </bean>

    <!-- lookup-method -->
    <bean id="reader" class="pers.bean.lookup.Reader">
        <lookup-method name="getBook" bean="book" />
    </bean>
    <bean id="book" class="pers.bean.lookup.Book" scope="prototype" p:name="荒原狼" />

    <!-- replaced-method -->
    <bean id="wine" class="pers.bean.replaced.Wine" />
    <bean id="water" class="pers.bean.replaced.Water">
        <replaced-method name="helloWorld" replacer="wine" />
    </bean>

</beans>