<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- FactoryBean -->
    <bean id="user" class="pers.bean.UserFactoryBean" p:userInfo="24,cck" />
    <!-- BeanPostProcesso -->
    <bean id="myBeanPostProcessor" class="pers.processor.MyBeanPostProcessor" />
    <!-- BeanFactoryPostProcessor -->
    <bean id="myBeanFactoryPostProcessor" class="pers.processor.MyBeanFactoryPostProcessor" />

    <bean id="studentBean" class="pers.bean.Student" init-method="initMethod" destroy-method="destroyMethod">
        <property name="age" value="24" />
        <property name="name" value="cck" />
    </bean>

</beans>